body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}



main{
    width: 100%;
    height: auto;
}



p{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}