body{
    background: peru;
}

main{
    width: 80%;
    height: 500px;
    border: 1px black solid;
    border-radius: 10px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}